<!-- templates/screen_5.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Package Installation Success</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/screen_1.css') }}">
    <script src="https://kit.fontawesome.com/928fde7a55.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">
        <i class="fa-solid fa-truck-fast icon fa-5x"></i>
        <h1>Package Installation Successful!</h1>
        <p>Congratulations, your packages have been successfully installed.</p>
        <!-- <button onclick="closeServerAndWindow()" class="button-34">Close</button> -->
    </div>
    <script>
        function closeServerAndWindow() {
            // Close the current web view
            try {
                window.opener.postMessage('close', '*');
            } catch (e) {
                console.error('Error closing window:', e);
            }

            fetch('/manual_shutdown')
                .then(response => response.text())
                .then(data => {
                    console.log('Response from server:', data);
                })
                .catch(error => {
                    console.error('Error from server:', error);
                });
        }
    </script>
</body>

</html>